<% if flash[:notice] %>
  <div class="alert alert-success" role="alert">
    <%= flash[:notice] %>
  </div>
<% end %>
<div class="alert alert-success" role="alert">
  <h3 class="alert-heading">Books</h3>
</div>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th class="w-10">Department</th>
      <th class="w-10">Name</th>
      <th class="w-10">Author</th>
      <th class="w-15">Description</th>
      <th class="w-5">Price</th>
      <th class="w-5">Amount</th>
      <th class="sortStyle w-25">Actions</th>
    </tr>
  </thead>
  <tbody>
    <%= render @products %>
  </tbody>
</table>
</div>
