<div class="alert alert-success" role="alert">
  <h3 class="alert-heading">Books</h3>
</div>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>Name</th>
      <th>Author</th>
      <th>Description</th>
      <th>Price</th>
      <th>Amount</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <%= render @products %>
  </tbody>
</table>
</div>
